*{
    font-family: 'Roboto', sans-serif;
}
nav{
    position: fixed;
    height: 50px;
    background-color: #212121;
    width: 100%;
    z-index: 2;
}
header{
    position: relative;
    height: 50px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    
}
.menu .menu_link{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}
.menu .menu_item{
    border-right:2px dotted black;
    padding-right: 46px;
}
.subheader{
    position: absolute;
    top: 50px;
    width: 100%; 
    height: 84px;
    background-color: rgba(0,0,0, .6);
    /* z-index: 2; */
}
.subheader .subheader_logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_text{
    margin-top: 6px;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}
.subheader .subheader_call {
    color: #FFFFFF; 
    font-weight: 300;
    margin-top: 20px;
    font-size: 12px;
    text-align: right;
}
.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-decoration:none;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}
.subheader .subheader_button{
    margin-top: 20px;
    width: 172px;
    height: 46px;
    color: #fff;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
}
.promo{
    min-height: 800px;
    background:url(/src/img/bg/main_bg.png) center center/cover no-repeat;
    padding: 150px 0 135px 0;
    /* transform: translateY(-84px);
    z-index: 1; */
}
.promo .promo_header{
    margin: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;

}
.promo .promo_subheader{
    margin: 0;
    margin-top: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}
.promo .promo_descr{
    display: block;
    width: 985px;
    margin: 0 auto;
    margin-top: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}
.promo .promo_btn{
    display: block;
    margin: 0 auto;
    width: 259px;
    height: 63px;  
    margin-top: 20px;
    color: #fff;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;  
    text-align: center;   
    text-transform: uppercase;
}
.work{
    min-height: 850px;
    padding: 18px 0 64px 0;
}
.label{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 112px;
    height: 24px;
    background-color:#212121;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase; 
    line-height: 8px; 
    margin: 0 auto;  
}
.title{
    color: #222222;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 33px;
}
.work_item-left{
    display: flex;
    margin-top: 25px;
    justify-content:end;
}
.work_item-right{
    display: flex;
    margin-top: 25px;
    justify-content:start;
}
.work_round{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius:100%;
}
.work_content{
    display: inline-block;
    width: 371px;
    margin-left: 25px;
}
.work_header{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}
.work_descr{
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}